// Storm, Earth, and Lava Bootstrap Theme

$body-bg: #212529;
$body-color: #e9ecef;

$headings-color: #B5D3DB;

$dropdown-bg: #495057;
$dropdown-link-color: #5A8DAB;
$dropdown-link-hover-color: #B5D3DB;
$dropdown-link-hover-bg: #43617D;

@import "../node_modules/bootstrap/scss/bootstrap";