---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";



// add more custom styles here

.site-header {
  border-top: 5px solid $background-color;
}

.iframe-holder {
 position: relative;
 width: 100%;
 height: 0;
 padding-bottom: 56.25%;
 overflow: hidden;
}


.iframe-holder iframe {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}


// Top menu fixes
nav.navbar {
  padding: 0rem 0rem;
}
.nav-link { // Fix top menu hover
  margin-right: 20px;
  color: $text-color;
  border-bottom: 1px solid $background-color;
}
.nav-link:hover { // Fix top menu hover
  border-bottom: 1px solid $grey-color-light;
  color: $text-color;
}
.nav-link:visited {
  color: $text-color;
}
button.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1)
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='https://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
// Top menu color fixes
.dropdown-menu {
  color: $text-color;
  background: $background-color;
  border: 1px solid $grey-color;
}
.dropdown-item {
  color: $text-color;
  line-height: $spacing-unit;
}
a.dropdown-item:visited {
  color: $text-color;
}
.dropdown-item:hover, a.dropdown-item:hover {
  color: $grey-color;
  background-color: $background-color;
}
.dropdown-toggle::after { // adjust drop down arrow to be slightly lower
  vertical-align: 0.18em;
}

// footer
.svg-icon { // Fix svg icon display in footer
  padding-right: 0px;
  margin-right: 5px;
}
// change footer distribution to 40%, 60%
.footer-col-1 {
  width: -webkit-calc(40% - ( #{$spacing-unit} / 2));
  width: calc(40% - ( #{$spacing-unit} / 2));
}
.footer-col-2 {
  width: -webkit-calc(60% - ( #{$spacing-unit} / 2));
  width: calc(60% - ( #{$spacing-unit} / 2));
}


// Side menu for all pages within a category. Lists all siblings
.side-menu {
  //background-color: $grey-color-dark;
  margin-left: $spacing-unit;
  margin-bottom: $spacing-unit;
  padding-top: $spacing-unit / 2;
  padding-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2 ;
  position: fixed;
  right: 5%;
  border-left: 3px solid $grey-color;
}
@media only screen and (max-width: 1150px) {
  .side-menu { // hide side menu if we have to assume it would probably overlap the content
    display: none;
  }
}
@media only screen and (min-width: 1300px) {
  .side-menu { // adjust position to be closer to content
    right: 10%;
  }
}
@media only screen and (min-width: 1500px) {
  .side-menu { // adjust position to be closer to content
    right: 15%;
  }
}
@media only screen and (min-width: 1700px) {
  .side-menu { // adjust position to be closer to content
    right: 20%;
  }
}
@media only screen and (min-width: 1950px) { // +50px to ensure no overlap
  .side-menu { // adjust position to be closer to content
    right: 25%;
  }
}

pre code, code { // readd this to override bootstraps once again
  color: $text-color;
}

// set ul to always show squares
ul {
  list-style-type: square;
}


.highlighter-rouge .highlight { // fix block code
  background: #223;
}
.card {
  background-color: #222;
  border: 1px solid $grey-color-dark;
}
.card-header {
  border-bottom: 1px solid $grey-color-dark;
}
.card-header h5 button::after, .card-header h4 button::after, .card-header h3 button::after { // drop down symbol
  display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .18em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.card-header h5 button.btn-link:hover, .card-header h5 button.btn-link:focus {
  text-decoration: none;
}
// .accordion .card:first-of-type, .card:last-of-type {
//   border-bottom: 1px solid $grey-color-dark;
// }


// adjust hr to match the page dark theme
hr {
  border-top: 1px solid $grey-color;
}

// APL list spacing
div.apl > ol > li {
  margin: 0 0 4px 0;
}
div.apl > ol > li > ol > li {
  margin: 0 0 2px 0;
}

// Fix wowhead tooltip visited colour via `a` elements.
.post-content a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: $brand-color;
  }

  &:hover {
    text-decoration: underline;
  }
}

// Opener styles
// Idea from https://ffxivrotations.com/

div.opener {
  border: 1px solid #151515;
  background-color: #111;
  min-height: 70px;
  margin: 0;
  padding: 12px;
  padding-top: 25px;
  border-radius: 4px;
}

div.opener .arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #eee;
  margin: 15px 5px 15px 5px;
}

div.opener .arrow.pull {
  border-left: 10px solid red;
}

div.opener .skill {
  padding: 0;
  margin-top: 15px;
  width: 40px;
  height: 40px;
  vertical-align: bottom;
  margin-bottom: 15px;
  box-shadow: 1px 1px 1px #8A8A8A;
  border-radius: 4px;
  background-position: center center;
  position: relative;
  box-sizing: content-box;
  background-size: 40px 40px;
}

div.opener div.skill span {
  margin-top: -22px;
  position: absolute;
  display:inline-block;
  font-weight: bold;
}

div.opener .arrow, div.opener .skill {
  display: inline-block;
}

div.skill.asc {
  background-image: url('/assets/img/spellicon/asc.jpg');
}

div.skill.fe {
  background-image: url('/assets/img/spellicon/fe.jpg');
}

div.skill.ee {
  background-image: url('/assets/img/spellicon/ee.jpg');
}

div.skill.fs {
  background-image: url('/assets/img/spellicon/fs.jpg');
}

div.skill.lvb {
  background-image: url('/assets/img/spellicon/lvb.jpg');
}

div.skill.eb {
  background-image: url('/assets/img/spellicon/eb.jpg');
}

div.skill.frs {
  background-image: url('/assets/img/spellicon/frs.jpg');
}

div.skill.es {
  background-image: url('/assets/img/spellicon/es.jpg');
}

div.skill.if {
  background-image: url('/assets/img/spellicon/if.jpg');
}

div.skill.tm {
  background-image: url('/assets/img/spellicon/tm.jpg');
}

div.skill.lb {
  background-image: url('/assets/img/spellicon/lb.jpg');
}

div.skill.lmt {
  background-image: url('/assets/img/spellicon/lmt.jpg');
}
div.skill.sk {
  background-image: url('/assets/img/spellicon/sk.jpg');
}
div.skill.se {
  background-image: url('/assets/img/spellicon/se.jpg');
}

div.skill.pw {
  background-image: url('/assets/img/spellicon/pw.jpg');
}
div.skill.ft {
  background-image: url('/assets/img/spellicon/ft.jpg');
}

// Center image
.center-image
{
    margin: 0 auto;
    display: block;
}

input[type="radio"]+label {
  vertical-align: middle;
  padding-left: 4px;
}

// Radio stuff for APL talent selector
input[type="radio"]:checked+label {
  color: $brand-color;
}

span.blue {
  color: $brand-color;
}

div.dungeon-header {
    width: 100%;
    min-height: 100px;
    max-height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    padding-bottom: 10px;
    border: 1px solid #828282;
    cursor: pointer;
}

div.dungeon-header h2 {
    text-align: center;
    color: white;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
    cursor: pointer;
}

div.raid-header {
    width: 100%;
    min-height: 100px;
    max-height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    padding-bottom: 10px;
    border: 1px solid #828282;
    cursor: pointer;
}

div.raid-header h2 {
    text-align: center;
    color: white;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
    cursor: pointer;
}

div.dungeon-header.tjs {
    background-image: url('/assets/img/guide/dungeons_mop/temple_of_the_jade_serpent.jpg')
}

div.dungeon-header.sbg {
    background-image: url('/assets/img/guide/dungeons_wod/shadowmoon_burial_grounds.jpg')
}

div.dungeon-header.cos {
    background-image: url('/assets/img/guide/dungeons_legion/court_of_stars.jpg')
}

div.dungeon-header.hov {
    background-image: url('/assets/img/guide/dungeons_legion/halls_of_valor.jpg')
}

div.dungeon-header.ataldazar {
  background-image: url('/assets/img/guide/dungeons_bfa/ataldazar.png')
}

div.dungeon-header.freehold {
  background-image: url('/assets/img/guide/dungeons_bfa/freehold.png')
}

div.dungeon-header.kingsrest {
  background-image: url('/assets/img/guide/dungeons_bfa/kingsrest.png')
}

div.dungeon-header.boralus {
  background-image: url('/assets/img/guide/dungeons_bfa/boralus.png')
}

div.dungeon-header.motherlode {
  background-image: url('/assets/img/guide/dungeons_bfa/motherlode.png')
}

div.dungeon-header.shrine {
  background-image: url('/assets/img/guide/dungeons_bfa/shrine.png')
}

div.dungeon-header.temple {
  background-image: url('/assets/img/guide/dungeons_bfa/temple.png')
}

div.dungeon-header.toldagor {
  background-image: url('/assets/img/guide/dungeons_bfa/toldagor.png')
}

div.dungeon-header.underrot {
  background-image: url('/assets/img/guide/dungeons_bfa/underrot.png')
}

div.dungeon-header.waycrest {
  background-image: url('/assets/img/guide/dungeons_bfa/waycrest.png')
}

div.dungeon-header.uldir {
  background-image: url('/assets/img/guide/dungeons_bfa/uldir.png')
}

div.dungeon-header.top {
  background-image: url('/assets/img/guide/dungeons_sl/theater_of_pain.png')
}

div.dungeon-header.dos {
  background-image: url('/assets/img/guide/dungeons_sl/de_other_side.png')
}

div.dungeon-header.pf {
  background-image: url('/assets/img/guide/dungeons_sl/plaguefall.png')
}

div.dungeon-header.nw {
  background-image: url('/assets/img/guide/dungeons_sl/necrotic_wake.png')
}

div.dungeon-header.sd {
  background-image: url('/assets/img/guide/dungeons_sl/sanguine_depths.png')
}

div.dungeon-header.hoa {
  background-image: url('/assets/img/guide/dungeons_sl/halls_of_atonement.png')
}

div.dungeon-header.soa {
  background-image: url('/assets/img/guide/dungeons_sl/spires_of_ascension.png')
}

div.dungeon-header.mots {
  background-image: url('/assets/img/guide/dungeons_sl/mists_of_tirna_scithe.png')
}

div.dungeon-header.aa {
    background-image: url('/assets/img/guide/dungeons_df/algethar_academy.jpg')
}

div.dungeon-header.bh {
    background-image: url('/assets/img/guide/dungeons_df/brackenhide_hollow.jpg')
}

div.dungeon-header.hoi {
    background-image: url('/assets/img/guide/dungeons_df/halls_of_infusion.jpg')
}

div.dungeon-header.neltharus {
    background-image: url('/assets/img/guide/dungeons_df/neltharus.jpg')
}

div.dungeon-header.rlp {
    background-image: url('/assets/img/guide/dungeons_df/ruby_life_pools.jpg')
}

div.dungeon-header.av {
    background-image: url('/assets/img/guide/dungeons_df/the_azure_vault.jpg')
}

div.dungeon-header.no {
    background-image: url('/assets/img/guide/dungeons_df/the_nokhud_offensive.jpg')
}

div.dungeon-header.uldaman {
    background-image: url('/assets/img/guide/dungeons_df/uldaman.jpg')
}

div.raid-header.castle_nathria {
  background-image: url('/assets/img/guide/nathria/castle_nathria.png')
}

div.raid-header.sanctum_of_domination1 {
  background-image: url('/assets/img/guide/sanctum_of_domination/sodbanner01.PNG')
}

div.raid-header.sanctum_of_domination2 {
  background-image: url('/assets/img/guide/sanctum_of_domination/sodbanner02.PNG')
}

div.raid-header.sanctum_of_domination3 {
  background-image: url('/assets/img/guide/sanctum_of_domination/sodbanner03.PNG')
}

div.raid-header.sanctum_of_domination4 {
  background-image: url('/assets/img/guide/sanctum_of_domination/sodbanner04.PNG')
}

div.raid-header.sanctum_of_domination5 {
  background-image: url('/assets/img/guide/sanctum_of_domination/sodbanner05.PNG')
}

div.raid-header.sanctum_of_domination6 {
  background-image: url('/assets/img/guide/sanctum_of_domination/sodbanner06.PNG')
}

div.raid-header.sanctum_of_domination7 {
  background-image: url('/assets/img/guide/sanctum_of_domination/sodbanner07.PNG')
}

div.raid-header.sanctum_of_domination8 {
  background-image: url('/assets/img/guide/sanctum_of_domination/sodbanner08.PNG')
}

div.raid-header.sanctum_of_domination9 {
  background-image: url('/assets/img/guide/sanctum_of_domination/sodbanner09.PNG')
}

div.raid-header.sanctum_of_domination10 {
  background-image: url('/assets/img/guide/sanctum_of_domination/sodbanner10.PNG')
}

div.raid-header.vault_of_the_incarnates {
    background-image: url('/assets/img/guide/vault_of_the_incarnates/vault_of_the_incarnates.png')
}

div.dungeon-accordion div.card-header {
  padding: 0px;
}

div.blizzard-post {
  color: #00c0ff;
  border: 1px #222 solid;
  text-align: justify;
  background-color: #221912;
  padding: 10px 20px 10px 20px;
  border-radius: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

div.blizzard-post:nth-child(2) {
  margin-top: 25px;
}

div.blizzard-post::before {
  content: "Post by Blizzard on the Official Forums";
  text-decoration: underline;
  color: white;
  font-weight: bold;
  padding-bottom: 10px;
  position: relative;
}

div.blizzard-post a.icontinyl {
  color: #bef !important;
}
